@page

@using NetGram.Models.Interfaces

@inject IWorkGram WorkGramManager

@{
    var workGrams = await WorkGramManager.GetWorkGrams();
}

@foreach (var item in workGrams)
{
    <h4>@item.UserName</h4>
    <h6>@item.Title</h6>
    <p>@item.URL</p>
    <p>@item.Views</p>
    <p>@item.Comments</p>


    <a asp-page="/Work/Index" asp-route-id="@item.ID">@item.UserName</a>
}


<h4><a asp-page="/Work/Manage">ADD NEW WorkGrans</a></h4>