@page

@using NetGram.Models.Interfaces

@inject IWorkGram WorkGramManager

@{
    var workGrams = await WorkGramManager.GetWorkGrams();
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Styles/StyleSheet.css" rel="stylesheet" />
    <title>Home Page</title>
</head>
<body>
    <div class="welcome">
        <h1 >Welcome to the world of</h1>
        <h1 >"Work Grams"!</h1>
        <h5 >A place to show what your work is like.</h5>
        <h5 >A picture is worth a thousand words.  </h5>
        <h5 >Don't just say what you do at work.</h5>
        <h4 >Show them!</h4>
    </div>

    <div class="manage">
        <h1><button type="button" class="btn btn-warning"><a asp-page="/Work/Manage">ADD NEW Work-Grams</a></button></h1>
        <h1></h1>
        <h2></h2>
    </div>

    @foreach (var item in workGrams)
    {
        <div class="card" style="width: 24rem;">
            <button type="button" class="btn btn-outline-success"><a asp-page="/Work/Index" asp-route-id="@item.ID"><i id="user">User:</i> @item.UserName</a></button>
        
            <img src="@item.URL" alt="Image holder" class="card-img-top">
        
        <div class="card-body">
            <h6 class="card-title">@item.Title</h6>
            <p class="card-text">Ratings: @item.Views UpVotes!</p>
            <p class="card-text">Description:<i id="description"> @item.Comments</i></p>
        </div>
        </div>
    }
    
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
     <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    
</body>
</html>



