@page "{id}"
@model NetGram.Pages.Work.IndexModel
@{

}



<div>
    <label asp-for="WorkGram.UserName"></label>
    <label asp-for="WorkGram.UserName">@Model.WorkGram.UserName</label>
</div>
<div>
    <label asp-for="WorkGram.Title"></label>
    <label asp-for="WorkGram.Title">@Model.WorkGram.Title</label>
</div>
<div>
    <label asp-for="WorkGram.URL"></label>
    <label asp-for="WorkGram.URL">@Model.WorkGram.URL</label>
</div>
<div>
    <label asp-for="WorkGram.Views"></label>
    <label asp-for="WorkGram.Views">@Model.WorkGram.Views</label>
</div>
<div>
    <label asp-for="WorkGram.Comments"></label>
    <label asp-for="WorkGram.Comments">@Model.WorkGram.Comments</label>
</div>

<a asp-page="/Work/Manage" asp-route-id="@Model.WorkGram.ID">Edit</a>
